<po-page-default [p-breadcrumb]="breadcrumb" p-title="Cadastro Find Easy">
	<form [formGroup]="formCadastro" class="po-mb-2">
		<po-container p-no-shadow="true" class="po-lg-12 po-pr-0 po-pl-0">
			<!-- loading -->
			<po-loading-overlay p-screen-lock="true" [hidden]="isLoading" p-text="Carregando ...">
			</po-loading-overlay>
			<div class="po-lg-10 po-offset-lg-2 po-offset-xl-2" p-no-border="false">
				<!-- Nome -->
				<div class="po-lg-5 form-group">
					<po-input p-label="Nome" name="nome" p-maxlength="60" formControlName="nome">
					</po-input>
				</div>

				<!-- Sobrenome -->
				<div class="po-lg-5 form-group">
					<po-input
						p-label="Sobrenome"
						name="sobrenome"
						p-maxlength="60"
						formControlName="sobrenome"
					>
					</po-input>
				</div>

				<!-- email -->
				<div class="po-lg-7 form-group">
					<po-input
						p-label="E-mail"
						name="email"
						p-maxlength="30"
						formControlName="email"
					>
					</po-input>
				</div>

				<!-- data nascimento -->
				<div class="po-lg-3 form-group">
					<po-datepicker
						name="dt_nasc"
						p-label="Data de nascimento"
						formControlName="dt_nasc"
						p-optional
					>
					</po-datepicker>
				</div>

				<!-- usuario -->
				<div class="po-lg-5 form-group">
					<po-input
						p-label="Usuário"
						name="usuario"
						p-maxlength="15"
						formControlName="usuario"
					>
					</po-input>
				</div>
				<!-- Senha -->
				<div class="po-lg-5 form-group">
					<po-password
						name="password"
						p-label="Senha"
						name="password"
						p-maxlength="15"
						formControlName="password"
						p-clean="true"
					>
					</po-password>
				</div>
				<!-- id dispositivo -->
				<div class="po-lg-5 form-group">
					<po-input
						p-label="Id do dispositivo"
						name="dispositivo"
						p-maxlength="10"
						formControlName="dispositivo"
					>
					</po-input>
				</div>
			</div>
		</po-container>
	</form>

	<!-- Botões -->
	<po-container p-no-border="true">
		<div class="po-pull-right">
			<!-- Cancelar -->
			<po-button class="btn" p-label="Cancelar" (p-click)="onCancel()"> </po-button>
			<!-- ^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$ -->
			<!-- Salvar-->
			<po-button
				class="btn"
				p-type="default"
				p-label="Salvar"
				p-type="primary"
				[p-loading]="loadingBtnsave"
				(p-click)="submitCadastro()"
			>
			</po-button>
		</div>
	</po-container>
</po-page-default>
